.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__image {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card__title {
  margin: 0;
  color: rgba(33, 33, 33, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 353px;
  font-size: 20px;
  font-weight: 500;
}

.card__delete-btn {
  background-image: url(../images/deleteBtn.svg);
  border: none;
  border-radius: 20px;
  background-color: transparent;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-btn:hover {
  border: none;
  background-color: rgba(255, 101, 101);
}

.card__like-button {
  /*you put needs correcting for like button because is not the dark one but on figma if its hover it use black icon. when is not hover , it uses reguler icon*/
  background-image: url(../images/like_icon.svg);
  opacity: 0.4;

  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin: auto 0 0;
  padding: 0;
  /*cursor porinter in the hover psuedo code*/
}

.card__like-button_active {
  background-image: url(..//images/likeBtn.svg);
  background-color: transparent;
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;

  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}
@media screen and (max-width: 627px) {
  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 1;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__content {
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
