.card {
  max-width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card__title {
  margin: 0 auto 0 0;
  color: rgba(33, 33, 33, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.card__like-button {
  background-image: url(../images/like_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin: auto 0 0;
  padding: 0 20px 0 0;
}

.card__like-button:hover {
  cursor: pointer;
  background-image: url(../images/dark_llike.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  margin: auto 0 0;
  padding: 0 20px 0 0;
  opacity: 1;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__content {
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
