.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;

  color: rgba(33, 33, 33);
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;

  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #000000b3;
}

.modal__input {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 16px 12px;

  font-size: 20px;
  line-height: 100%;
  opacity: 1;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  color: rgba(33, 33, 33, 1);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  opacity: 40%;
  background-image: url(../images/close_icon.svg);
}

.modal__close-btn:hover {
  cursor: pointer;
  color: rgba(33, 33, 33);
  opacity: 1;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  border: none;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

@media screen and (max-width: 627px) {
  .modal__container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: 12px;
    gap: 24px;
  }

  .modal__title {
    margin: 5px 0 0;
    padding: 0;
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin: 0 0 24px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
