.footer {
  background-color: #fcf5e5;
  display: grid;
  justify-content: center;
}
.footer__paragraph {
  display: grid;
  padding: 60px 0;
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  line-height: 1;
}
